/* * {
    outline: 1px solid red;
} */

.nav-scroll-wrapper {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
}

.nav-scroll-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.subscribe-button {
    background-color: #02c3aa;
    color: #072a3a;
}

.subscribe-button:hover {
    background-color: #04777b;
    color: white;
}

.nav-item {
    border-bottom: 2px solid #fff;
}

.nav-item:hover {
    border-bottom: 2px solid #04777b;
}

.underline-on-hover {
    border-bottom: 2px solid white;
}

.underline-on-hover:hover {
    border-bottom: 2px solid #04777b;
}

.topbar {
    height: auto;
}

@media (min-width: 992px) {
    .topbar {
        height: 64px;
    }
}

.responsive-border-start {
    border-left: 1px solid #ddd; /* Adjust the border style as needed */
}

@media (max-width: 767.98px) {
    .responsive-border-start {
        border-left: none !important;
    }
}

.clickable-pill:hover,
.clickable-pill.active {
    background-color: #222;
    color: white;
}

.clickable-pill {
    border-radius: 1000px;
    border: 1px solid #ddd;
    background: #eee;
    padding: 7px 12px 5px;
    margin-right: 8px;
    scroll-snap-align: start;
    white-space: nowrap;
}

.transparent-clickable-pill {
    border-radius: 1000px;
    border: 1px solid #ddd;
    background: transparent;
    padding: 7px 12px 5px;
    margin-right: 8px;
    scroll-snap-align: start;
    white-space: nowrap;
}

.transparent-clickable-pill:hover {
    color: white;
    background: #222;
}

button {
    background-color: unset;
    box-shadow: none;
    border: unset;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.utility-max-width {
    max-width: 322px;
}

.bg-dark-blue {
    background-color: #073349;    
}

.smallest {
    font-size: 9px;
}